.contenedor-carrito {
  border: solid #ff6900;
  border-radius: 30px;
}

.cart-image {
  width: 150px;
}

.btn-seguirComprando {
  color: #fff !important;
  background: #ff6900;
  border-radius: 10px;
}

.separador-subrayado-titulo {
  border-bottom: 6px solid #ff6900;
}

.btn-pedir {
  width: 139px;
  color: #ff6900 !important;
  background: #eeee16;
  border-radius: 10px;
  font-family: "Oswald";
  font-size: 31px;
  font-weight: bold;
  margin-left: 16px;
  cursor: pointer;
  border: transparent;
  text-decoration: none !important;
  padding: 10px;
}
.progress-bar-complementos {
  background-color: #ff6900 !important;
}
